<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
	<property name="hibernate.connection.url">
		jdbc:mysql://localhost/wellmail
	</property>
	<property name="hibernate.connection.driver_class">
		com.mysql.jdbc.Driver
	</property>
	<property name="hibernate.connection.username">root</property>
	<property name="hibernate.connection.password">root</property>
	<property name="hibernate.dialect">
		org.hibernate.dialect.MySQLDialect
	</property>
	<property name="hibernate.show_sql">true</property>
	<property name="hibernate.current_session_context_class">
		thread
	</property>
	<!-- 
		<property name="hibernate.current_session_context_class">jta</property>
	-->
	<property name="myeclipse.connection.profile">MySQL</property>
	<property name="connection.url">
		jdbc:mysql://localhost:3306/wellmail
	</property>
	<property name="connection.username">root</property>
	<property name="connection.password">root</property>
	<property name="connection.driver_class">
		com.mysql.jdbc.Driver
	</property>
	<property name="dialect">
		org.hibernate.dialect.MySQLDialect
	</property>
	<property name="hibernate.hbm2ddl.auto">update</property>
	<mapping resource="com/wellmail/model/Attachment.hbm.xml" />
	<mapping resource="com/wellmail/model/BCC.hbm.xml" />
	<mapping resource="com/wellmail/model/CC.hbm.xml" />
	<mapping resource="com/wellmail/model/Contact.hbm.xml" />
	<mapping resource="com/wellmail/model/ContactGroup.hbm.xml" />
	<mapping resource="com/wellmail/model/Email.hbm.xml" />
	<mapping resource="com/wellmail/model/EmailSpace.hbm.xml" />
	<mapping resource="com/wellmail/model/FileType.hbm.xml" />
	<mapping resource="com/wellmail/model/Folder.hbm.xml" />
	<mapping resource="com/wellmail/model/MailTag.hbm.xml" />
	<mapping resource="com/wellmail/model/NoteBook.hbm.xml" />
	<mapping resource="com/wellmail/model/NoteType.hbm.xml" />
	<mapping resource="com/wellmail/model/Priority.hbm.xml" />
	<mapping resource="com/wellmail/model/UserPwd.hbm.xml" />
	<mapping resource="com/wellmail/model/Users.hbm.xml" />
	<mapping resource="com/wellmail/model/UserScore.hbm.xml" />
	<mapping resource="com/wellmail/model/WebDisk.hbm.xml" />
	<mapping resource="com/wellmail/model/WebFile.hbm.xml" />
	<mapping resource="com/wellmail/model/UsersInfo.hbm.xml" />
	<mapping resource="com/wellmail/model/OtherMailBox.hbm.xml" />
	<mapping resource="com/wellmail/model/OtherMailBoxType.hbm.xml" />
</session-factory>
</hibernate-configuration>